body {
  background-image: url(../images/bg.jpg);
}
.site {
  font-family: 'Cinzel', serif;
}
.text-logo {
  color: rgba(53, 53, 53, 0.89);
  text-shadow: 2px 2px rgba(199, 199, 199, 0.842);
  font-size: 50px;
  padding: 40px 0px;
  text-align: center;
  font-family: "Holtwood One SC", sans-serif;
}
.text-logo .bi {
  color: #ffd301;
  text-shadow: 0px 0px #ffd301;
}
.nav {
  margin-bottom: 30px;
}
.img-thumbnail {
  margin-bottom: 20px;
}
.img-fluid {
  background-color: #ffd301;
}
#inscription{
  align-content: center;
}
.imgAccueil{
  border-radius: 20px;
  box-shadow: 0px 0px 20px #212529;
}
.caption > h4 {
  color: rgba(53, 53, 53, 0.89);
  font-size: 18px;
}
nav.nav.nav-tabs {
  width: 100%;
}
a:hover,
a,
a:focus {
  color: #eee;
  margin: 3px;
}
.nav-tabs .nav-link.active{
  background-color: #fff;
  color: rgba(53, 53, 53, 0.89);
}
.btn.btn-primary, .orange {
  width: 60%;
  font-size: 16px;
  color: #fff;
  background-color: rgba(51, 54, 87, 0.938);
  text-decoration: none;
}
#tab1nolog{
  margin-top: 25px;
}

.zoom{
  border-radius: 10px;
  z-index: 0;
}
.zoom:hover{
  transition: all 0.4s;
  z-index: 1;
  scale: 1.05;
  box-shadow: 0px 0px 10px black;
}
.imageItem{
  height: 250px;
}

/* FORMULAIRE ACCUEIL */

.bgForm{
  border-radius: 10px;
  border: 1px solid #212529;
  box-shadow: 0px 0px 10px #212529;
}

/* ADMIN */
.container.admin {
  padding: 30px;
}
.admin {
  background-color: #fff;
  border-radius: 10px;
}
.admin h1 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.help-inline{
  color: red;
}
